<header class="layui-layout layui-layout-admin">
  <div class="layui-header lps-header header header-demo">
    <div class="layui-main">
      <a class="logo" href="/">
        <img src="img/logo.png" alt="layui">
      </a>
      <h2 class="title">实验宝平台后台管理系统</h2>
      <ul class="lps-nav">
        <li>欢迎您，Betty</li>
        <li><span><i class="iconfont icon-moban162"></i></span><span>修改密码</span></li>
        <li><span><i class="iconfont icon-tuichu"></i></span><span>退出登录</span></li>
      </ul>
    </div>
  </div>
</header>