<nav class="lps-menu">
  <ul class="layui-nav layui-nav-tree" lay-filter="menu">
    <li class="layui-nav-item layui-nav-itemed">
      <a href="javascript:;">
        <i class="iconfont icon-suo"></i>权限管理
      </a>
      <dl class="layui-nav-child">
        <dd><a href="javascript:;">角色管理</a></dd>
        <dd><a href="javascript:;">后台管理员</a></dd>
        <dd><a href="javascript:;">修改密码</a></dd>
      </dl>
    </li>
    <li class="layui-nav-item layui-nav-itemed">
      <a href="javascript:;">
        <i class="iconfont icon-yonghu"></i>用户管理
      </a>
      <dl class="layui-nav-child">
        <dd><a href="javascript:;">用户资料</a></dd>
        <dd><a href="javascript:;">黑名单</a></dd>
      </dl>
    </li>
    <li class="layui-nav-item layui-nav-itemed">
      <a href="javascript:;">
        <i class="iconfont icon-augiclingdaihou"></i>企业客户
      </a>
      <dl class="layui-nav-child">
        <dd><a href="javascript:;">客户资料</a></dd>
      </dl>
    </li>
    <li class="layui-nav-item layui-nav-itemed">
      <a href="javascript:;">
        <i class="iconfont icon-file"></i>资源管理
      </a>
      <dl class="layui-nav-child">
        <dd><a href="javascript:;">硬件管理</a></dd>
        <dd><a href="javascript:;">资料管理</a></dd>
      </dl>
    </li>
    <li class="layui-nav-item layui-nav-itemed">
      <a href="javascript:;">
        <i class="iconfont icon-xiaoxi"></i>消息设置
      </a>
      <dl class="layui-nav-child">
        <dd><a href="javascript:;">消息模版</a></dd>
      </dl>
    </li>
    <li class="layui-nav-item layui-nav-itemed">
      <a href="javascript:;">
        <i class="iconfont icon-yifu"></i>界面设置
      </a>
      <dl class="layui-nav-child">
        <dd><a href="javascript:;">banner设置</a></dd>
        <dd><a href="javascript:;">栏目设置</a></dd>
      </dl>
    </li>
  </ul>
</nav>